<footer class="container m-auto">
  <div class="w-11/12 m-auto flex justify-between">
    <div class="footer-container__about">
      <h2 class="font-body text-cyan-500 font-bold text-lg tracking-wider">ABOUT</h2>
      <ul class="mt-4">
        <li class="font-body text-sm text-gray-500 pb-2"><a href="/">About Us</a></li>
        <li class="font-body text-sm text-gray-500 pb-2"><a href="/">History</a></li>
        <li class="font-body text-sm text-gray-500 pb-2"><a href="/">Join</a></li>
      </ul>
    </div>

    <div class="footer-container__sitemap">
      <h2 class="font-body text-cyan-500 font-bold text-lg tracking-wider">SITE MAP</h2>
      <ul class="mt-4">
        <li class="font-body text-sm text-gray-500 pb-2"><a href="/">Privacy Policy</a></li>
        <li class="text-sm font-body text-gray-500 pb-2"><a href="/">Terms of Services</a></li>
        <li class="text-sm text-gray-500 font-body pb-2"><a href="/">FAQ's</a></li>
      </ul>
    </div>

    <div class="footer-container__services">
      <h2 class="font-body text-cyan-500 font-bold text-lg tracking-wider">SERVICES</h2>
      <ul class="mt-4">
        <li class="font-body text-sm text-gray-500 pb-2"><a href="/">Web Design</a></li>
        <li class="font-body text-sm text-gray-500 pb-2"><a href="/">SEO</a></li>
        <li class="font-body text-sm text-gray-500 pb-2"><a href="/">Customer Support</a></li>
      </ul>
    </div>

    <div class="footer-container__contactus">
      <h2 class="font-body text-cyan-500 font-bold text-lg tracking-wider">CONTACT US</h2>
      <ul class="mt-4">
        <li class="font-body text-sm text-gray-500 pb-2">
          <a href="mailto:info@yourmail.com"><i class="fa fa-envelope-o pr-1" aria-hidden="true"></i>info@yourmail.com</a>
        </li>
        <li class="font-body text-sm text-gray-500 pb-2">
          <a href="tel:+12345677213"><i class="fa fa-phone pr-1" aria-hidden="true"></i>+1 234 5677 213</a>
        </li>
        <li>
          <ul class="flex space-x-4">
            <li>
              <a href="https://www.facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-full">
    <h3 class="font-body my-16 text-center text-sm text-gray-500">Copyright &copy; SHEPA 2018 All Rights Reserved</h3>
  </div>
</footer>
