<header class="w-full my-8">
  <nav class="container m-auto flex items-center">
    <h2 class="text-4xl text-cyan-400 font-normal font-serif w-6/12">
      <a href="/">Shepa</a>
    </h2>
    <ul class="flex space-x-10 w-6/12">
      <li class="font-body font-semibold text-xs tracking-wider text-gray-700 pb-1 border-cyan-200 border-b-2">
        <a href="/">FEATURES</a>
      </li>
      <li class="font-body font-semibold text-xs tracking-wider text-gray-700">
        <a href="/">SERVICES</a>
      </li>
      <li class="font-body font-semibold text-xs tracking-wider text-gray-700">
        <a href="/">TESTIMONIALS</a>
      </li>
      <li class="font-body font-semibold text-xs tracking-wider text-gray-700">
        <a href="/">PRICING</a>
      </li>
      <li class="font-body font-semibold text-xs tracking-wider text-gray-700">
        <a href="/">BLOG</a>
      </li>
      <li class="font-body font-semibold text-xs tracking-wider text-gray-700">
        <a href="/">CONTACT</a>
      </li>
    </ul> 
  </nav>
</header>
