<main class="container m-auto pb-20"> 
  <div class="hero-container flex py-20">
    <div class="hero-container__message w-6/12">
      <h1 class="font-body text-5xl text-cyan-500 font-medium leading-tight tracking-wide w-8/12">Your Service is ready to launch</h1>
      <p class="text-sm font-body text-gray-500 w-8/12 leading-relaxed tracking-normal my-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. At fugit amet sit a iusto dolores nulla perspiciatis error adipisci tempore sint dolorem</p>
      <button class="text-white font-body font-light text-sm tracking-wide rounded outline-none focus:outline-none bg-cyan-600 shadow px-6 py-4">Get Started Now</button>
    </div>
    <div class="hero-container__illustration w-6/12 pl-12">
      <img src="../../public/assets/illustration.svg" alt="work-time" width="550" height="500"/>
    </div>
  </div>

  <div class="highlight-container py-20">
    <div class="highlight-container__header w-6/12 m-auto">
      <h1 class="font-body text-3xl text-cyan-500 text-center">We Design your Landing Page to get High Conversion Rate</h1>
    </div>
    <div class="highlight-container__highlights w-10/12 m-auto flex justify-between py-24">
      <div class="highlight-container__campaign flex flex-col items-center">
        <img src="../../public/assets/Bullhorn.svg" alt="Campaign" width="70" height="70" />
        <h2 class="font-body text-center text-gray-500 tracking-wide font-bold text-xl my-6">Start Your Campaign</h2>
        <p class="font-body text-center text-gray-400 font-light leading-snug w-9/12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>

      <div class="highlight-container__user flex flex-col items-center">
        <img src="../../public/assets/User.svg" alt="User" width="70" height="70" />
        <h2 class="font-body text-center text-gray-500 tracking-wide font-bold text-xl my-6">Engage More Users</h2>
        <p class="font-body text-center text-gray-400 font-light leading-snug w-9/12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>

      <div class="highlight-container__reward flex flex-col items-center">
        <img src="../../public/assets/Reward.svg" alt="Reward" width="70" height="70" />
        <h2 class="font-body text-center text-gray-500 tracking-wide font-bold text-xl my-6">Claim Your Reward</h2>
        <p class="font-body text-center text-gray-400 font-light leading-snug w-9/12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
    </div>
  </div>

  <div class="features-container">
    <div class="features-container__one flex justify-between items-center py-6">
      <div class="w-6/12">
        <h1 class="font-body text-3xl text-cyan-500 w-10/12  font-medium tracking-wide">Create your landing page with shepa to start your business</h1>
        <p class="font-body text-sm text-gray-400 leading-relaxed w-11/12 py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tempore aspernatur iure voluptatem sint tenetur facere commodi illum odit quidem, quasi harum laudantium, unde quos ab debitis laborum. Similique, ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, perferendis voluptates quam ullam magnam incidunt atque, qui autem neque nisi mollitia dolor enim dicta ratione! Id accusamus minus magnam suscipit?</p>
        <button class="font-body text-sm text-white bg-cyan-600 font-light py-2 px-4 rounded shadow">Read More <i class="fa fa-long-arrow-right fa-lg pl-2" aria-hidden="true"></i></button>
      </div>
      <div class="w-6/12 flex items-center">
        <img src="../../public/assets/illustration-one.png" alt="Create landing" height="500" width="550" />
      </div>
    </div>

    <div class="features-container__one flex justify-between items-center py-6">
      <div class="w-6/12">
        <img src="../../public/assets/illustration-two.png" alt="Create landing" height="500" width="550" />
      </div>
      <div class="w-6/12">
        <h1 class="font-body text-3xl text-cyan-500 w-10/12 font-medium tracking-wide">Create your landing page with shepa to start your business</h1>
        <p class="font-body text-sm text-gray-400 leading-relaxed w-11/12 py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tempore aspernatur iure voluptatem sint tenetur facere commodi illum odit quidem, quasi harum laudantium, unde quos ab debitis laborum. Similique, ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, perferendis voluptates quam ullam magnam incidunt atque, qui autem neque nisi mollitia dolor enim dicta ratione! Id accusamus minus magnam suscipit?</p>
        <button class="font-body text-sm text-white bg-cyan-600 font-light py-2 px-4 rounded shadow">Read More <i class="fa fa-long-arrow-right fa-lg pl-2" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>

  <div class="testimonials-container py-24">
    <div class="testimonials-container__header w-6/12 m-auto">
      <h2 class="font-body text-3xl text-cyan-500 text-center">Client Testimonials</h2>
    </div>
    <div class="testimonials-container__carousel my-20 w-11/12 mx-auto flex justify-between items-center">
      <div class="testimonials-container__carousel-left ">
        <button class="p-2 bg-gray-300 rounded-sm cursor-pointer">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
      </div>
      <div class="testimonials-container__carousel-content">
        <div class="flex flex-col">
          <img class="w-32 h-32 rounded-full border-cyan-400 border-4 mx-auto" src="../../public/assets/avatar.svg" alt="Male Avatar">
          <p class="w-8/12 mx-auto text-center py-6 font-body text-sm text-gray-400 leading-relaxed">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, aut! Placeat eius vero quidem necessitatibus velit, asperiores quos nesciunt. Fugiat facilis quo architecto nemo delectus veritatis eveniet et velit deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quod mollitia, quae illo debitis voluptate blanditiis</p>
          <h4 class="w-8/12 mx-auto text-center font-body font-semibold text-gray-700">Mike Bhand, CEO, Company</h4>
        </div>
      </div>
      <div class="testimonials-container__carousel-right">
        <button class="p-2 bg-gray-300 rounded-sm cursor-pointer">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="pricing-container pb-16">
    <div class="pricing-container__header w-6/12 mx-auto">
      <h2 class="font-body text-3xl text-cyan-500 text-center">Suitable plans for business</h2>
    </div>
    <div class="pricing-container__blocks py-16 w-10/12 mx-auto flex justify-between">
      <div class="pricing-container__block-basic text-center py-10 px-20">
        <h4 class="font-body text-cyan-400">BASIC</h4>
        <h2 class="font-body text-cyan-500 text-4xl tracking-wide font-bold my-6">Free</h2>
        <ul class="mt-4">
          <li class="text-sm py-1 text-gray-400">Upto 5 Users Monthly</li>
          <li class="text-sm py-1 text-gray-400">100% Satisfaction</li>
          <li class="text-sm py-1 text-gray-400">Updates Available</li>
          <li class="text-sm py-1 text-gray-400">No Support</li>
        </ul>
        <button class="border-cyan-500 border-2 text-sm rounded px-2 py-1 font-light text-cyan-500 mt-4">Get Started</button>
      </div>
      <div class="pricing-container__block-professional text-center shadow-xl py-10 px-20">
        <h4 class="font-body text-cyan-500">PROFESSIONAL</h4>
        <h2 class="font-body text-cyan-600 text-4xl tracking-wider font-bold my-6">$29 <span class="text-base text-gray-300 tracking-wide font-medium">/ Month</span></h2>
        <ul class="mt-4">
          <li class="text-sm py-1 text-gray-400">Upto 5 Users Monthly</li>
          <li class="text-sm py-1 text-gray-400">100% Satisfaction</li>
          <li class="text-sm py-1 text-gray-400">Updates Available</li>
          <li class="text-sm py-1 text-gray-400">24/7 Support</li>
        </ul>
        <button class="border-cyan-500 border-2 bg-cyan-500 font-light text-white text-sm rounded px-2 py-1 mt-4">Get Started</button>
      </div>
      <div class="pricing-container__block-enterprise text-center py-10 px-20">
        <h4 class="font-body text-cyan-500">ENTERPRISE</h4>
        <h2 class="font-body text-cyan-600 text-4xl tracking-wider font-bold my-6">$49 <span class="text-base text-gray-300 tracking-wide font-medium">/ Month</span></h2>
        <ul class="mt-4">
          <li class="text-sm py-1 text-gray-400">Upto 5 Users Monthly</li>
          <li class="text-sm py-1 text-gray-400">100% Satisfaction</li>
          <li class="text-sm py-1 text-gray-400">Updates Available</li>
          <li class="text-sm py-1 text-gray-400">24/7 Support</li>
        </ul>
        <button class="border-cyan-500 border-2 text-sm font-light rounded px-2 py-1 text-cyan-500 mt-4">Get Started</button>
      </div>
    </div>
  </div>
</main>
